@font-face {
  font-family: 'objective';
  src: url("../font/objective-bold-italic-webfont.woff") format("woff"), url("../font/objective-bold-italic-webfont.woff2") format("woff2");
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  letter-spacing: 0.08em;
  font-family: 'Noto Sans JP', sans-serif;
  color: #262626;
}

.fv {
  position: relative;
  height: 100vh;
}

.fv .logo {
  position: absolute;
  top: 10px;
  left: 0;
  color: #FFFFFF;
  font-size: 4.2rem;
}

.fv .outer {
  position: relative;
  height: 30%;
}

.fv .outer .tit {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'objective', Arial, sans-serif;
  color: #7AD6BB;
  font-size: 10vw;
}

.message {
  padding: 10vw;
}

.message .tit {
  font-size: 3vw;
  text-align: center;
}

.message .txt {
  font-size: 2.4rem;
}

.skills {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10vw;
  color: #000000;
  background-color: #F2F2F2;
}

.skills-tit {
  position: relative;
  z-index: 1;
  font-size: 8vw;
  font-family: 'objective', Arial, sans-serif;
}

.skills-tit:after {
  content: 'Skills';
  font-size: 8vw;
  color: #F2F2F2;
  text-shadow: 4px 4px 0 #7AD6BB, -2px 2px 0 #7AD6BB, 2px -2px 0 #7AD6BB, -2px -2px 0 #7AD6BB;
  position: absolute;
  z-index: -1;
  top: -10px;
  left: 10px;
}

.skills .outer {
  background-image: url(../img/bg-primary.png);
  background-size: 30vw 30vw;
  background-repeat: no-repeat;
}

.skills .outer .tit {
  font-size: 4vw;
  color: #454545;
}

.skills .outer .tit ._num {
  font-size: 5vw;
  color: #000000;
}

.skills .outer .tit ._char {
  font-size: 2vw;
}

.skills .outer .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills .outer .inner img {
  width: 40%;
}

.skills .outer .inner .box {
  width: 40%;
}

.skills .outer .inner .box .txt {
  font-size: 2rem;
  color: #454545;
}

.skills .outer._1 h3 {
  z-index: 200;
}

.skills .outer._1 img {
  z-index: 100;
}

.skills .outer._1::before {
  content: 'Portfolio';
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: sideways;
  font-size: 15vw;
  color: #FFFFFF;
  font-family: 'objective', Arial, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.skills .outer._2 {
  background-position-x: right;
}

.skills .outer._2 .tit {
  text-align: right;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5vw;
}

.works .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: #000000 solid 1px;
}

.works .wrap .box-top .txt {
  color: #7AD6BB;
}

.works .wrap .box-top .tit {
  position: relative;
  z-index: 1;
  font-size: 8vw;
  font-family: 'objective', Arial, sans-serif;
}

.works .wrap .box-top .tit:after {
  content: 'Works';
  font-size: 8vw;
  color: #FFFFFF;
  text-shadow: 4px 4px 0 #7AD6BB, -2px 2px 0 #7AD6BB, 2px -2px 0 #7AD6BB, -2px -2px 0 #7AD6BB;
  position: absolute;
  z-index: -1;
  top: -10px;
  left: 10px;
}

.works .wrap .list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.works .wrap .list .item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.works .wrap .list .item a img {
  display: inline;
  vertical-align: middle;
}

.works .wrap .list .item .box {
  width: 40%;
}

.works .wrap .list .item .box .txt {
  color: #454545;
}

.works .wrap .list .item:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: #7AD6BB solid 5px;
  position: absolute;
  top: 50%;
  left: 0;
}

.appeal {
  background-color: #F2F2F2;
}
/*# sourceMappingURL=style.css.map */