.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vw 0;

    &-tit {
        position: relative;
        z-index: 1;
        @include objective;
        font-size: calc(40px + ((1vw - 3.75px) * 2.188));

        @include media("xs") {
            font-size: 4rem;
        }
        @include media("xl") {
            font-size: 4.69vw;
        }
    }
    &-tit:after {
        content: 'History';
        font-size: calc(40px + ((1vw - 3.75px) * 2.188));
        color: $color-wt01;
        text-shadow: 4px 4px 0 $color-primary,
        -2px 2px 0 $color-primary,
        2px -2px 0 $color-primary,
        -2px -2px 0 $color-primary;
        position: absolute;
        z-index: -1;
        top: -10px;
        left: 10px;

        @include media("xs") {
            font-size: 4rem;
        }
        @include media("xl") {
            font-size: 4.69vw;
        }
    }
    table {
        width: 62.5vw;
        margin-top: 9.375vh;
        border-collapse: separate;
        border-spacing: 20px 0;

        @include media("sp") {
            width: 90vw;
        }

        th {
            width: 20%;
            padding: 2rem 2rem;
            margin-right: 10px;
            color: $color-primary;
            border-top: solid 1px $color-primary;
        }
        td {
            padding: 2rem 0;
            color: $color-bk01;
            border-top: solid 1px $color-bk01;
        }
    }
}