.history {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-tit {
        position: relative;
        z-index: 1;
        font-size: 8vw;
        @include objective;
    }
    &-tit:after {
        content: 'History';
        font-size: 8vw;
        color: $color-wt01;
        text-shadow: 4px 4px 0 $color-primary,
                    -2px 2px 0 $color-primary,
                    2px -2px 0 $color-primary,
                    -2px -2px 0 $color-primary;
        position: absolute;
        z-index: -1;
        top: -10px;
        left: 10px;
    }
    table {
        th {
            color: $color-primary;
            border-top: solid 1px $color-primary;
        }
        td {
            color: $color-bk01;
            border-top: solid 1px $color-bk01;
        }
    }
}