.message {
    padding: 14.64vw 2rem 19.6vw;
    
    .tit {
        font-size: 2.5vw;
        text-align: center;
        padding: 2.968vh 0;

        @include media("xs") {
            font-size: 2.4rem;
        }
        @include media("tb") {
            font-size: calc(2rem + 1.333vw);
        }
    }
    .txt {
        font-size: 2.4rem;
        line-height: 2.0;
        max-width: 722px;
        margin: 0 auto;
        padding: 2.343vh 0;

        @include media("sp") {
            font-size: 2rem;
        }
    }
}