.skills {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vw 0;
    color: $color-bk01;
    background-color: $color-secondary;

    &-tit {
        position: relative;
        z-index: 1;
        @include objective;
        font-size: calc(40px + ((1vw - 3.75px) * 2.188));

        @include media("xs") {
            font-size: 4rem;
        }
        @include media("xl") {
            font-size: 4.69vw;
        }
    }
    &-tit::before {
        content: 'Skills';
        font-size: calc(40px + ((1vw - 3.75px) * 2.188));
        color: $color-secondary;
        text-shadow: 4px 4px 0 $color-primary,
                    -2px 2px 0 $color-primary,
                    2px -2px 0 $color-primary,
                    -2px -2px 0 $color-primary;
        position: absolute;
        z-index: -1;
        top: -10px;
        left: 10px;

        @include media("xs") {
            font-size: 4rem;
        }
        @include media("xl") {
            font-size: 4.69vw;
        }
    }
    .list {
        .item {
            padding: 9.375vw 0;
        }
    }

    .outer {
        background-image: url(../img/bg-primary.png);
        background-size: 65.39vw 30vw;
        background-repeat: no-repeat;
        padding: 0 5%;

        .tit {
            font-size: calc(20px + ((1vw - 3.75px) * 1.326));
            color: $color-bk03;
            padding: 3.9vw 0;

            @include media("xs") {
                font-size: 2rem;
            }
            @include media("xl") {
                font-size: 2.5vw;
            }

            ._num {
                font-size: calc(40px + ((1vw - 3.75px) * 6.629));
                color: $color-bk01;
                margin-left: 20px;
                
                @include media("xs") {
                    font-size: 4rem;
                }
                @include media("xl") {
                    font-size: 7.812vw;
                }
            }
            ._char {
                font-size: 2rem;
                margin-left: 15px;
                
                @include media("xs") {
                }
                @include media("xl") {
                    font-size: 1.562vw;
                }
            }
        }
        .inner {
            display: flex;
            align-items: center;
            justify-content: space-around;
            
            @include media("tb") {
                flex-direction: column;
            }

            img {
                width: 40%;

                @include media("tb") {
                    width: 90%;
                }
            }
            .box {
                width: 40%;

                @include media("tb") {
                    width: 90%;
                    padding: 5vw 0;
                }

                .txt {
                    font-size: 2rem;
                    line-height: 2;
                    color: $color-bk03;

                    @include media("sp") {
                        font-size: 1.6rem;;
                    }
                }
            }
        }
    }
    .outer._1::before {
        content: 'Portfolio';
        writing-mode: vertical-rl;
        text-orientation: sideways;
        font-size: 23.437vw;
        color: $color-wt01;
        @include objective;
        position: absolute;
        top: 0;
        left: -9%;
        z-index: 1;
    }
    .outer._1 {

        .tit {
            position: relative;
            z-index: 200;
            margin-left: 15%;
        }
        img {
            position: relative;
            z-index: 2;
        }
    }
    .outer._2 {
        background-position-x: right;

        .tit {
            text-align: right;
        }
        .inner {
            img {
                order: 2;

                @include media("tb") {
                    order: 1;
                }
            }
            .box {
                order: 1;

                @include media("tb") {
                    order: 2;
                }
            }

        }
    }
}