.value {
    background-color: $color-bk02;

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50vh;

        .tit {
            color: $color-primary;
            @include objective;
            font-size: 2.4rem;
        }
        .txt {
            color: $color-wt01;
            font-size: calc(24px + ((1vw - 3.75px) *  2.652));

            @include media("xs") {
                font-size: 2.4rem;
            }
        }
    }
    .slider {
        overflow: hidden;

        img {
            max-height: 600px;
        }
    }

    .outer {
        background-image: url(../img/bg01@2x.jpg);
        background-size: cover;
        background-position: center;
        height: 70vh;

        .overlay {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $color-bk02;
            opacity: 0.8;
            height: 100%;
        }

        &-txt {
            padding: 3vh 2rem;
            max-width: 880px;
            color: $color-wt01;
            line-height: 2.0;
        }
    }
    .footer {
        height: 30vh;
        background-color: $color-primary;
    }
}