.works {
    display: flex;
    justify-content: center;
    padding: 10vw 5vw;

    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-left: $color-bk01 solid 1px;

        .box-top {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .txt {
                color: $color-primary;
            }
            .tit {
                position: relative;
                z-index: 1;
                @include objective;
                font-size: calc(40px + ((1vw - 3.75px) * 2.188));
                
                @include media("xs") {
                    font-size: 4rem;
                }
                @include media("xl") {
                    font-size: 4.69vw;
                }
            }
            .tit:after {
                content: 'Works';
                font-size: calc(40px + ((1vw - 3.75px) * 2.188));
                color: $color-wt01;
                text-shadow: 4px 4px 0 $color-primary,
                -2px 2px 0 $color-primary,
                2px -2px 0 $color-primary,
                -2px -2px 0 $color-primary;
                position: absolute;
                z-index: -1;
                top: -10px;
                left: 10px;

                @include media("xs") {
                    font-size: 4rem;
                }
                @include media("xl") {
                    font-size: 4.69vw;
                }
            }
        }
        .list {
            .item {
                display: flex;
                justify-content: space-around;
                position: relative;

                a {
                    display: flex;
                    align-items: center;
                    width: 40%;

                    img {
                        display: inline;
                        vertical-align: middle;
                    }
                }
                .box {
                    width: 40%;

                    .txt {
                        color: $color-bk03;
                    }
                }
            }
            .item:before {
                content: '';
                width: 20px;
                height: 20px;
                border-radius: 10px;
                border: $color-primary solid 5px;
                position: absolute;
                top: 50%;
                left: 0;
            }
        }
    }
}