.works {
    display: flex;
    justify-content: center;
    padding: 0 5vw;

    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4.765vw 0;
        border-left: $color-bk01 solid 1px;

        .box-top {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .txt {
                color: $color-primary;
            }
            .tit {
                position: relative;
                margin-top: 2rem;
                z-index: 1;
                @include objective;
                font-size: calc(40px + ((1vw - 3.75px) * 2.188));
                
                @include media("xs") {
                    font-size: 4rem;
                }
                @include media("xl") {
                    font-size: 4.69vw;
                }
            }
            .tit:after {
                content: 'Works';
                font-size: calc(40px + ((1vw - 3.75px) * 2.188));
                color: $color-wt01;
                text-shadow: 4px 4px 0 $color-primary,
                -2px 2px 0 $color-primary,
                2px -2px 0 $color-primary,
                -2px -2px 0 $color-primary;
                position: absolute;
                z-index: -1;
                top: -10px;
                left: 10px;

                @include media("xs") {
                    font-size: 4rem;
                }
                @include media("xl") {
                    font-size: 4.69vw;
                }
            }
        }
        .list {
            margin-top: 7.03vh;

            .item {
                display: flex;
                justify-content: space-around;
                position: relative;
                margin-bottom: 12.345vw;

                @include media("sp") {
                    flex-direction: column;
                    align-items: center;
                }

                a {
                    display: flex;
                    align-items: center;
                    // text-align: center;
                    width: 40%;

                    @include media("sp") {
                        width: 100%;
                    }
                    
                    img {
                        display: inline;
                        vertical-align: middle;
                        margin: 0 auto;
                    }
                }
                .box {
                    width: 45%;

                    @include media("sp") {
                        width: 100%;
                        padding: 0 2rem;
                    }
                    .tit {
                        font-size: 3.2rem;

                        @include media("sp") {
                            font-size: 2.4rem;
                            margin-top: 10px;
                        }
                    }
                    .txt {
                        color: $color-bk03;
                        margin-top: 2.343vw;

                        @include media("sp") {
                            line-height: 2;
                        }
                        @include media("xl") {
                            line-height: 2;
                        }
                    }
                }
            }
            .item:before {
                content: '';
                width: 50px;
                height: 50px;
                border-radius: 25px;
                border: $color-primary solid 15px;
                position: absolute;
                top: 50%;
                left: -25px;
                transform: translateY(-50%);
                background-color: $color-wt01;
                
                @include media("sp") {
                    display: none;
                }
            }
        }
        .box-bottom {
            width: 63.671vw;

            @include media("tb") {
                width: 85%;
            }

            .tit {
                font-size: 3.2rem;
                
                @include media("sp") {
                    font-size: 2.4rem;
                }
            }
            .txt {
                line-height: 2;
                margin-top: 1.562vw;
            }
        }
    }
}