$breakpoint: (
    xs: "only screen and (max-width: 375px)",
    sp: "only screen and (max-width: 767px)",
    tb: "only screen and (max-width: 980px)",
    xl: "only screen and (min-width:1200px)", //min-widthで指定
);

@mixin media ($device) {
    @media #{map-get($breakpoint, $device)} {
        @content;
    }
}